In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
with open('steady_data.json') as f:
    data = pd.read_json(f)

data['data'].head()

0    30.54,1016.69,57.0140810002221,9.9854898333549...
1    30.57,1016.84,57.01407999992371,9.985488500065...
2    30.55,1016.83,57.01408066643609,9.985488500065...
3    30.55,1016.81,57.014078833262126,9.98548700001...
4    30.54,1016.82,57.014078833262126,9.98548633337...
Name: data, dtype: object

In [41]:
df = pd.DataFrame(columns=['temp','pressure','latitude','longitude','altitude'])
for i,line in enumerate(data['data']):
    a = line.split(",")
    df.loc[i] = [float(a[0]),float(a[1]),float(a[2]),float(a[3]),(a[4][5:-1] if a[4] != 'None' else None)] 
df.head()

    temp  pressure   latitude  longitude altitude
0  30.54   1016.69  57.014081   9.985490    -22.1
1  30.57   1016.84  57.014080   9.985489    -22.4
2  30.55   1016.83  57.014081   9.985489    -22.5
3  30.55   1016.81  57.014079   9.985487    -22.5
4  30.54   1016.82  57.014079   9.985486    -22.8

In [43]:
b = df['altitude'].dropna()
b.var()

TypeError: unsupported operand type(s) for -: 'float' and 'str'